html,body{
    padding: 0px;
    z-index: -1;
    background-color: transparent;
}
.container{
    max-width: 400px;
    height: 400px;
    margin: 120px 0px 120px 120px;
    background-color: transparent;
}
b{
    font-size: 25px;
    text-align: center;
}
img{
    padding: 0%;
    margin-left: -750px;
    z-index:-1;
    position: absolute;
}